<page-layout>
	<h1>Participants</h1>
	<section>
		<!-- {#if $registrationState === 'not-yet'} -->
		<!-- <p>
			Registration will open on April 22nd, 2024. Get your GitHub account ready and check back
			<strong>{$countdown}</strong>!
		</p> -->
		<!-- {/if} -->

		<!-- <infobox-layout>
			<span slot="title">What is this page about?</span>
			<p>
				Every year, we let the participants add themselves on this page. We let them decide what
				technologies they are interested in and on what days they register for.
			</p>
			<p>This allows participants to find like-minded people and lets them connect.</p>
		</infobox-layout> -->

		<!-- <div class="attendance-filter">
			<button
				type="button"
				on:click={setFridayOrUnset}
				class:isActive={$participantsFilter === fridayFilter}
				>Friday ({participants.filter(fridayFilter).length} / 100 participants)</button
			>
			<button
				type="button"
				on:click={setSaturdayOrUnset}
				class:isActive={$participantsFilter === saturdayFilter}
				>Saturday ({participants.filter(saturdayFilter).length} / 100 participants)</button
			>
		</div> -->

		<!-- {#if participants.filter($participantsFilter).length > 0} -->
		<div class="participants">
			<!-- {#if activeTag !== null} -->
			<div class="selectedTagAnchor">
				<!-- <button type="button" class="selectedTag" on:click="{unsetActiveTag}">
					Selected tag: {activeTag}
				</button> -->
			</div>
			<!-- {/if} -->
			<ul id="participants">
				<!-- {#each participants.filter($participantsFilter) as participant} -->
				<li>
					<!-- <Participant
					{participant}
					on:selectedTag={onSelectTag}
					isActive={(activeTag &&
						participant.tags
							.map((t) => t.toLocaleLowerCase())
							.includes(activeTag.toLocaleLowerCase())) ||
						false}
				/>  -->
				</li>
				<!-- {/each} -->
			</ul>
		</div>
		<!-- <p>Looking for interesting stats? See <a href="/participants/stats">/participants/stats</a></p> -->
		<!-- 		{:else}
<p>There are no participants registered yet.</p>
{/if}
-->

		<!-- {#if $registrationState === 'open'} -->
		<!-- <infobox-layout title="Not seeing yourself on the list?">
			If you can't find yourself on the list of participants, but you want to join, check out our
			<a href="{base}/registration">how to register</a> page.
		</infobox-layout> -->
		<!-- {/if} -->
	</section>
</page-layout>

<style>
	section {
		display: flex;
		flex-flow: column;
		gap: 2em;
		padding: 0 3rem;
	}
	h1 {
		font-size: 3em;
	}
	ul {
		display: flex;
		flex: 1;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: space-between;
		gap: 2em;
		margin: 0;
		padding: 0;
	}
	li {
		flex-grow: 1;
		list-style: none;
		width: calc(var(--max-page-width) / 4 - 1.5em);
	}
	li > :global(*) {
		height: 100%;
	}
	.attendance-filter button {
		background: inherit;
		border: inherit;
		cursor: pointer;
		font: inherit;
		text-align: inherit;
	}
	.attendance-filter button.isActive {
		text-decoration: underline;
	}

	.participants {
		position: relative;
	}
	.selectedTagAnchor {
		position: sticky;
		top: 1em;
		bottom: -1em;
	}
	.selectedTag {
		background: none;
		border: none;
		cursor: pointer;
		font: inherit;
		position: absolute;
		transform-origin: 0 0;
		transform: rotate(-90deg) translate(-100%, -2em);
	}
</style>
