<PageLayout>
	<InfoBox title="Impressions of JSCraftCamp {year}">
		<div class="images">
			<slot></slot>
		</div>
	</InfoBox>
</PageLayout>

<style>
	.images {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		gap: 2em;
	}
	.image {
		height: auto;
		max-height: 10em;
		max-width: 10em;
		width: auto;
	}
	button {
		appearance: none;
		border: 0;
		background: none;
		cursor: pointer;
	}
	img {
		display: block;
		height: auto;
		max-height: 100%;
		max-width: 100%;
	}
	.active.image {
		position: fixed;
		background: #000c;
		align-items: center;
		justify-content: center;
		display: flex;
		padding: 2em;
		inset: 0;
		max-height: unset;
		max-width: unset;
		height: 100%;
		width: 100%;
	}
</style>
